*{

box-sizing:border-box;
user-select:none;

}


body{

margin:0;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(#8ed35f,#3b8d35);

font-family:Arial;

}



#menu,
.game{

text-align:center;

}



#menu img{

width:60vw;

max-width:350px;

}



button{


padding:15px 35px;

margin:10px;

border:none;

border-radius:12px;

background:#4caf50;

color:white;

font-size:18px;

cursor:pointer;

}



.hidden{

display:none;

}



#board{


display:grid;

grid-template-columns:
repeat(4,80px);

gap:12px;

justify-content:center;

margin-top:30px;


}



.card{


width:80px;

height:80px;

background:#222;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

font-size:40px;

cursor:pointer;

transform-style:preserve-3d;

transition:.3s;

}



.card.open{

background:white;

transform:rotateY(180deg);

}



@media(max-width:600px){


#board{

grid-template-columns:
repeat(4,18vw);

gap:10px;

}


.card{

width:18vw;

height:18vw;

font-size:30px;

}


}

.menu-buttons{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:15px;

}



.menu-buttons button{

    width:220px;

}

.game > button{

    width:220px;

}